In [1]:
import pyodbc
import pandas as pd

In [2]:
BingCovidFile="../DataFiles/Bing-COVID19-Data.csv"

In [3]:
BingCovidData = pd.read_csv(BingCovidFile, iterator=True, chunksize=1000)
df = pd.concat([chunk[chunk['Country_Region'] =="United States"] for chunk in BingCovidData])
df.head(10)

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
197448,7157150,01/21/2020,1,NaN,NaN,NaN,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197449,339285,01/23/2020,1,0.0,0.0,NaN,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197450,7157151,01/24/2020,2,1.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197451,7157152,01/25/2020,3,1.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197452,7157155,01/26/2020,5,2.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197453,339289,01/27/2020,5,0.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197454,339290,01/28/2020,5,0.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197455,339291,01/29/2020,5,0.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197456,7157157,01/30/2020,6,1.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
197457,7157159,01/31/2020,7,1.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN

In [4]:
del df['ID']
del df['Latitude']
del df['Longitude']
df.head(10)

,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
197448,01/21/2020,1,NaN,NaN,NaN,NaN,NaN,US,USA,United States,NaN,NaN
197449,01/23/2020,1,0.0,0.0,NaN,NaN,NaN,US,USA,United States,NaN,NaN
197450,01/24/2020,2,1.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN
197451,01/25/2020,3,1.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN
197452,01/26/2020,5,2.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN
197453,01/27/2020,5,0.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN
197454,01/28/2020,5,0.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN
197455,01/29/2020,5,0.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN
197456,01/30/2020,6,1.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN
197457,01/31/2020,7,1.0,0.0,0.0,NaN,NaN,US,USA,United States,NaN,NaN

In [5]:
dfClean=df.where(pd.notnull(df),None)
dfClean.head(10)

,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
197448,01/21/2020,1,None,None,None,None,None,US,USA,United States,None,None
197449,01/23/2020,1,0,0,None,None,None,US,USA,United States,None,None
197450,01/24/2020,2,1,0,0,None,None,US,USA,United States,None,None
197451,01/25/2020,3,1,0,0,None,None,US,USA,United States,None,None
197452,01/26/2020,5,2,0,0,None,None,US,USA,United States,None,None
197453,01/27/2020,5,0,0,0,None,None,US,USA,United States,None,None
197454,01/28/2020,5,0,0,0,None,None,US,USA,United States,None,None
197455,01/29/2020,5,0,0,0,None,None,US,USA,United States,None,None
197456,01/30/2020,6,1,0,0,None,None,US,USA,United States,None,None
197457,01/31/2020,7,1,0,0,None,None,US,USA,United States,None,None

In [6]:
BingCovidList=dfClean.values.tolist()

In [7]:
conn = pyodbc.connect('Driver={SQL Server};'
                    'Server=DESKTOP-BME09T7\MSSQLSERVER01;'
                    'Database=Purple_NursingHomes;'
                    'Trusted_Connection=yes;', autocommit=True)
cursor = conn.cursor()

In [8]:
cursor.execute("TRUNCATE TABLE BingCovid")

In [9]:
cursor.executemany("INSERT INTO BingCovid(Updated,"
                       "Confirmed,ConfirmedChange,Deaths,DeathsChange,"
                       "Recovered,RecoveredChange,ISO2,ISO3,"
                       "Country_Region,State,County) VALUES(?,?,?,?,?,?,?,?,?,?,?,?)",
                       BingCovidList)

In [10]:
cursor.rowcount

-1